# Project

### Deadline: 11 Abril

---

## Ground Rules

The project 2 parts.

### Part 1 | Scope

It's composed for `N` small assignments with guidelines. The assignment score ranges from **0 to N** and are **evenly distributed across all questions**. 

### Part 2 | Scope

Part 2 entails a project using the same dataset. The goal is to prove your data preprocessing skills. As output from this project, you should delivery the **notebook with the code you have done**.

Please apply, at least, **6 transformations** to the feature set you have in hands (or to the features which makes sense to apply the transformation). Each transformation should be accompanied by an explanation . Last but not least, compare the benefits of such transformation with the baseline score or the last best score. 

Regarding the variables you have to use throughout the Part 2, there are 6 in the total, 3 of them you are free to choose while the remaining 3 I have picked for you:
* YearBuilt
* LotFrontage
* MasVnrType

Make your baseline progressive, i.e. please consider the score from the previous transformation as the new baseline if it shows improvements. Example:

    Baseline - subset of transformations [None]  = 60% accuracy
    Iteration #1 - subset of transformations [A]     = 64% accuracy -> new baseline
    Iteration #2 - subset of transformations [A,B]   = 63% accuracy
    Iteration #3 - subset of transformations [A,B,C] = 68% accuracy -> new baseline
    ...
    Iteration #N - subset of transformations [A,B,C,..., N]
    (Being A, B, C a transformation that uses 1 or N features.)

Transformation example: `One-Hot-Encoding` on top of the feature `color` & `country`. 

The `target` variable should be used to compute the accuracy (please use the `Target` you have created on the exercise 2.1, part1).


**Any question please revert yo me via Slack or Email.**


---

**IMPORTANT NOTES to have in mind** 

a) Code Readability is taken into account for the evaluation, so please make it simple, readable and explain your operations when necessary.

b) Make sure that the evaluater can re-run the notebook from the begining, i.e. before you delivery the assignment please go to the bar on top of your notebook -> `Kernel` -> `Restart & Run all`. Validate that all outputs are as you expect.

----


## How can I delivery the Project?



**Email contact**

Please email me via `*****` with the following subject:

`[MPPD Project] John Doe` - including the brackets !!!


**Deliverable**

1) Notebook with the code used for both parts, 1 and 2.

2) The notebook **NAME** should follow the notation:

```
 <MyFirstNameAndLastName>_MPPD_project.ipynb
```

E.g. `CarlosRodrigues_MPPD_project.ipynb`

---

---

## Setup

Feel free to add any Python package as you please

In [0]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = None

from pgds_mpp_utils import train_and_evaluation

---

# Part 1

## 1- Load Data

1.1- Load **houses.csv** to a Pandas DataFrame

In [0]:
df_houses = pd.read_csv('/content/houses.csv')

In [3]:
df_houses.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,2003,Gable,CompShg,VinylSd,VinylSd,BrkFace,196.0,Gd,TA,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,Y,SBrkr,856,854,0,1710,1,0,2,1,3,1,Gd,8,Typ,0,NaN,Attchd,2003.0,RFn,2,548,TA,TA,Y,0,61,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,1976,Gable,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,CBlock,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,GasA,Ex,Y,SBrkr,1262,0,0,1262,0,1,2,0,3,1,TA,6,Typ,1,TA,Attchd,1976.0,RFn,2,460,TA,TA,Y,298,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001,2002,Gable,CompShg,VinylSd,VinylSd,BrkFace,162.0,Gd,TA,PConc,Gd,TA,Mn,GLQ,486,Unf,0,434,920,GasA,Ex,Y,SBrkr,920,866,0,1786,1,0,2,1,3,1,Gd,6,Typ,1,TA,Attchd,2001.0,RFn,2,608,TA,TA,Y,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915,1970,Gable,CompShg,Wd Sdng,Wd Shng,None,0.0,TA,TA,BrkTil,TA,Gd,No,ALQ,216,Unf,0,540,756,GasA,Gd,Y,SBrkr,961,756,0,1717,1,0,1,0,3,1,Gd,7,Typ,1,Gd,Detchd,1998.0,Unf,3,642,TA,TA,Y,0,35,272,0,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000,2000,Gable,CompShg,VinylSd,VinylSd,BrkFace,350.0,Gd,TA,PConc,Gd,TA,Av,GLQ,655,Unf,0,490,1145,GasA,Ex,Y,SBrkr,1145,1053,0,2198,1,0,2,1,4,1,Gd,9,Typ,1,TA,Attchd,2000.0,RFn,3,836,TA,TA,Y,192,84,0,0,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

1.2- Print dataset total number of `observations` and `variables`

In [4]:
print("Have %d variables and %d observations." % (df_houses.shape[1], df_houses.shape[0]) )

Have 81 variables and 1460 observations.

---

### Please find below the subset of columns we are going to consider for the rest of the assignment

In [0]:
columns_list = ['FullBath',
                'TotRmsAbvGrd',
                'Fireplaces',
                'GarageYrBlt',
                'GarageCars',
                'GarageArea',
                'LotFrontage',
                'WoodDeckSF',
                'OpenPorchSF',
                'SaleType',
                'SaleCondition',
                'SalePrice']

1.3- Create a new dataframe which is a subset of the origin dataframe based on the columns listed above.

In [6]:
houses_new = df_houses[columns_list]
houses_new.head(5)

,FullBath,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,LotFrontage,WoodDeckSF,OpenPorchSF,SaleType,SaleCondition,SalePrice
0,2,8,0,2003.0,2,548,65.0,0,61,WD,Normal,208500
1,2,6,1,1976.0,2,460,80.0,298,0,WD,Normal,181500
2,2,6,1,2001.0,2,608,68.0,0,42,WD,Normal,223500
3,1,7,1,1998.0,3,642,60.0,0,35,WD,Abnorml,140000
4,2,9,1,2000.0,3,836,84.0,192,84,WD,Normal,250000

## 2- Creating Lables

2.1- Create the `target` column based on `SalePrice`. The split should be done using the median value to create 2 new buckets. `Min->Median` bucket should have assigned the value `0` while the other bucket (`Median->Max`) value should be `1`.

Note: you are free to decide the buckets boundaries

In [7]:
houses_new['target'] = [0 if x < houses_new.SalePrice.median() else 1  
                  for x in houses_new.SalePrice]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
houses_new.head(5)

,FullBath,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,LotFrontage,WoodDeckSF,OpenPorchSF,SaleType,SaleCondition,SalePrice,target
0,2,8,0,2003.0,2,548,65.0,0,61,WD,Normal,208500,1
1,2,6,1,1976.0,2,460,80.0,298,0,WD,Normal,181500,1
2,2,6,1,2001.0,2,608,68.0,0,42,WD,Normal,223500,1
3,1,7,1,1998.0,3,642,60.0,0,35,WD,Abnorml,140000,0
4,2,9,1,2000.0,3,836,84.0,192,84,WD,Normal,250000,1

## 3- Handling Missing Values

3.1- List the amount of missing values per column

In [9]:
houses_new.isnull().sum()

FullBath           0
TotRmsAbvGrd       0
Fireplaces         0
GarageYrBlt       81
GarageCars         0
GarageArea         0
LotFrontage      259
WoodDeckSF         0
OpenPorchSF        0
SaleType           0
SaleCondition      0
SalePrice          0
target             0
dtype: int64

3.2- Take care of the missing values in the column `LotFrontage`

In [10]:
houses_new.corr()

,FullBath,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,LotFrontage,WoodDeckSF,OpenPorchSF,SalePrice,target
FullBath,1.000000,0.554784,0.243671,0.484557,0.469672,0.405656,0.198769,0.187703,0.259977,0.560664,0.612816
TotRmsAbvGrd,0.554784,1.000000,0.326114,0.148112,0.362289,0.337822,0.352096,0.165984,0.234192,0.533723,0.416452
Fireplaces,0.243671,0.326114,1.000000,0.046822,0.300789,0.269141,0.266639,0.200019,0.169405,0.466929,0.425713
GarageYrBlt,0.484557,0.148112,0.046822,1.000000,0.588920,0.564567,0.070250,0.224577,0.228425,0.486362,0.514025
GarageCars,0.469672,0.362289,0.300789,0.588920,1.000000,0.882475,0.285691,0.226342,0.213569,0.640409,0.572963
GarageArea,0.405656,0.337822,0.269141,0.564567,0.882475,1.000000,0.344997,0.224666,0.241435,0.623431,0.505306
LotFrontage,0.198769,0.352096,0.266639,0.070250,0.285691,0.344997,1.000000,0.088521,0.151972,0.351799,0.276041
WoodDeckSF,0.187703,0.165984,0.200019,0.224577,0.226342,0.224666,0.088521,1.000000,0.058661,0.324413,0.266800
OpenPorchSF,0.259977,0.234192,0.169405,0.228425,0.213569,0.241435,0.151972,0.058661,1.000000,0.315856,0.314615
SalePrice,0.560664,0.533723,0.466929,0.486362,0.640409,0.623431,0.351799,0.324413,0.315856,1.000000,0.698666
target,0.612816,0.416452,0.425713,0.514025,0.572963,0.505306,0.276041,0.266800,0.314615,0.698666,1.000000

Analisando a correlação entre as variáveis é possível visualizar que o número de quartos encontra-se um pouco relacionado com a área frontal da habitação, por isso vou calcular a média da áera tendo em consideração o número de quartos.

In [11]:
houses_new['LotFrontage'] = houses_new['LotFrontage'].fillna(houses_new.groupby(['TotRmsAbvGrd'])['LotFrontage'].transform('mean'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
houses_new.isnull().sum()

FullBath          0
TotRmsAbvGrd      0
Fireplaces        0
GarageYrBlt      81
GarageCars        0
GarageArea        0
LotFrontage       0
WoodDeckSF        0
OpenPorchSF       0
SaleType          0
SaleCondition     0
SalePrice         0
target            0
dtype: int64

## 4- Handling Categorical Data

4.1- Split categorical feature into a `df_categorical` dataframe

In [0]:
columns_categorial = ['FullBath', 'TotRmsAbvGrd', 'Fireplaces', 'GarageCars', 'SaleType', 'SaleCondition']

In [14]:
df_categorical = houses_new[columns_categorial].astype('category')
df_categorical.head(5)

  FullBath TotRmsAbvGrd Fireplaces GarageCars SaleType SaleCondition
0        2            8          0          2       WD        Normal
1        2            6          1          2       WD        Normal
2        2            6          1          2       WD        Normal
3        1            7          1          3       WD       Abnorml
4        2            9          1          3       WD        Normal

In [15]:
df_categorical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   FullBath       1460 non-null   category
 1   TotRmsAbvGrd   1460 non-null   category
 2   Fireplaces     1460 non-null   category
 3   GarageCars     1460 non-null   category
 4   SaleType       1460 non-null   category
 5   SaleCondition  1460 non-null   category
dtypes: category(6)
memory usage: 10.2 KB

4.2- Apply OHE to `SaleType`

In [0]:
categorial_ohe = pd.get_dummies(df_categorical.SaleType)

In [17]:
categorial_ohe = pd.concat([df_categorical,categorial_ohe], axis=1)
categorial_ohe.head(5)

,FullBath,TotRmsAbvGrd,Fireplaces,GarageCars,SaleType,SaleCondition,COD,CWD,Con,ConLD,ConLI,ConLw,New,Oth,WD
0,2,8,0,2,WD,Normal,0,0,0,0,0,0,0,0,1
1,2,6,1,2,WD,Normal,0,0,0,0,0,0,0,0,1
2,2,6,1,2,WD,Normal,0,0,0,0,0,0,0,0,1
3,1,7,1,3,WD,Abnorml,0,0,0,0,0,0,0,0,1
4,2,9,1,3,WD,Normal,0,0,0,0,0,0,0,0,1

## 5- Feature Scaling

5.1- Apply feature scaling to the variable `GarageArea`. Make sure that the new range fall between `-1/3` and `3`.

In [0]:
from sklearn.preprocessing import ( MinMaxScaler)

fsscaler = MinMaxScaler(feature_range = (-1/3, 3), copy = True)

In [19]:
houses_new['GarageArea_fs'] = fsscaler.fit_transform(houses_new[['GarageArea']])
houses_new.head(5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,FullBath,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,LotFrontage,WoodDeckSF,OpenPorchSF,SaleType,SaleCondition,SalePrice,target,GarageArea_fs
0,2,8,0,2003.0,2,548,65.0,0,61,WD,Normal,208500,1,0.954866
1,2,6,1,1976.0,2,460,80.0,298,0,WD,Normal,181500,1,0.748002
2,2,6,1,2001.0,2,608,68.0,0,42,WD,Normal,223500,1,1.095910
3,1,7,1,1998.0,3,642,60.0,0,35,WD,Abnorml,140000,0,1.175835
4,2,9,1,2000.0,3,836,84.0,192,84,WD,Normal,250000,1,1.631876

---

## End of Part 1 - Thank you very much!

---

---

# Part 2

Remark:
* you will use 6 variable for the assessment
* 3 out of 6 features are designated in the section on the top of the notebook
* the 3 remaining variables are for you to choose
* you can consider any variable from the original dataset during this assessment

Above all, take this opportunity to practice :)

**Good luck!**

In [0]:
houses_part2 = pd.read_csv('/content/houses.csv')

In [21]:
houses_part2['Target'] = [0 if x < houses_part2.SalePrice.median() else 1 
                        for x in houses_part2.SalePrice]
houses_part2.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Target
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,2003,Gable,CompShg,VinylSd,VinylSd,BrkFace,196.0,Gd,TA,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,Y,SBrkr,856,854,0,1710,1,0,2,1,3,1,Gd,8,Typ,0,NaN,Attchd,2003.0,RFn,2,548,TA,TA,Y,0,61,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500,1
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,1976,Gable,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,CBlock,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,GasA,Ex,Y,SBrkr,1262,0,0,1262,0,1,2,0,3,1,TA,6,Typ,1,TA,Attchd,1976.0,RFn,2,460,TA,TA,Y,298,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500,1
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001,2002,Gable,CompShg,VinylSd,VinylSd,BrkFace,162.0,Gd,TA,PConc,Gd,TA,Mn,GLQ,486,Unf,0,434,920,GasA,Ex,Y,SBrkr,920,866,0,1786,1,0,2,1,3,1,Gd,6,Typ,1,TA,Attchd,2001.0,RFn,2,608,TA,TA,Y,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500,1
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915,1970,Gable,CompShg,Wd Sdng,Wd Shng,None,0.0,TA,TA,BrkTil,TA,Gd,No,ALQ,216,Unf,0,540,756,GasA,Gd,Y,SBrkr,961,756,0,1717,1,0,1,0,3,1,Gd,7,Typ,1,Gd,Detchd,1998.0,Unf,3,642,TA,TA,Y,0,35,272,0,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000,0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000,2000,Gable,CompShg,VinylSd,VinylSd,BrkFace,350.0,Gd,TA,PConc,Gd,TA,Av,GLQ,655,Unf,0,490,1145,GasA,Ex,Y,SBrkr,1145,1053,0,2198,1,0,2,1,4,1,Gd,9,Typ,1,TA,Attchd,2000.0,RFn,3,836,TA,TA,Y,192,84,0,0,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000,1

In [22]:
houses_part2.corr()['Target'].sort_values(ascending = False).head(5)

Target         1.000000
SalePrice      0.698666
OverallQual    0.673084
FullBath       0.612816
GarageCars     0.572963
Name: Target, dtype: float64

As variaveis que foram propostas a usar foram as:

*   YearBuilt
*   MasVnrType
*   LotFrontage

As variaveis escolhidas por mim são: 

*   SalePrice
*   OverallQual
*   GarageCars

In [0]:
columns_list_part2 = ['YearBuilt',
                'LotFrontage',
                'MasVnrType',
                'SalePrice',
                'OverallQual',
                'GarageCars',
                'Target']

houses_part2 = houses_part2[columns_list_part2].copy()

Vou validar a existência de valores nulos

In [24]:
houses_part2.isnull().sum()

YearBuilt        0
LotFrontage    259
MasVnrType       8
SalePrice        0
OverallQual      0
GarageCars       0
Target           0
dtype: int64

Para o LotFrontage vou usar o método usado no exercício 3.2 mas usando a variável GarageCars para determinar a média do LotFrontage

In [0]:
houses_part2['LotFrontage'] = houses_part2['LotFrontage'].fillna(houses_part2.groupby(['GarageCars'])['LotFrontage'].transform('mean'))

Para o MasVnrTpe vamos considerar a moda da variável.

In [0]:
mode = houses_part2.MasVnrType.mode()
houses_part2['MasVnrType'] = houses_part2['MasVnrType'].fillna(mode[0])

In [27]:
houses_part2.isnull().sum()

YearBuilt      0
LotFrontage    0
MasVnrType     0
SalePrice      0
OverallQual    0
GarageCars     0
Target         0
dtype: int64

Dado a variável MasVnrType ser uma variável do tipo categórica vou aplicar a técnica de Ordinal Encoding

In [28]:
MasVnrType_mapping = {'None': 0,
                'BrkCmn': 1,
                'BrkFace': 2,
                'Stone': 3}

houses_part2t0=houses_part2.copy();
houses_part2t0['MasVnrType_encoded'] = houses_part2t0['MasVnrType'].map(MasVnrType_mapping)
houses_part2t0=houses_part2t0.drop(['MasVnrType'], axis=1)
houses_part2t0.head(5)

,YearBuilt,LotFrontage,SalePrice,OverallQual,GarageCars,Target,MasVnrType_encoded
0,2003,65.0,208500,7,2,1,2
1,1976,80.0,181500,6,2,1,0
2,2001,68.0,223500,7,2,1,2
3,1915,60.0,140000,7,3,0,0
4,2000,84.0,250000,8,3,1,2

**Baseline**

In [62]:
train_and_evaluation(houses_part2t0.drop('Target', axis=1), houses_part2.Target)

0.9854771784232366

Consegui obter um bom resultado com uma taxa de previsão de cerca de 98%. Sendo esta a minha baseline.

**Transformação 1**

In [59]:
houses_part2t0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearBuilt           1460 non-null   int64
 1   LotFrontage         1460 non-null   float64
 2   SalePrice           1460 non-null   int64
 3   OverallQual         1460 non-null   int64
 4   GarageCars          1460 non-null   int64
 5   Target              1460 non-null   int64
 6   MasVnrType_encoded  1460 non-null   category
dtypes: category(1), float64(1), int64(5)
memory usage: 70.2 KB

In [0]:
houses_part2t0.MasVnrType_encoded = houses_part2t0.MasVnrType_encoded.astype('category')
houses_part2t0.OverallQual = houses_part2t0.OverallQual.astype('category')
houses_part2t0.GarageCars = houses_part2t0.GarageCars.astype('category')

In [63]:
houses_part2t0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearBuilt           1460 non-null   int64
 1   LotFrontage         1460 non-null   float64
 2   SalePrice           1460 non-null   int64
 3   OverallQual         1460 non-null   category
 4   GarageCars          1460 non-null   category
 5   Target              1460 non-null   int64
 6   MasVnrType_encoded  1460 non-null   category
dtypes: category(3), float64(1), int64(3)
memory usage: 50.8 KB

In [64]:
train_and_evaluation(houses_part2t0.drop('Target', axis=1), houses_part2.Target)

0.9854771784232366

**Trasnformação 2**

De seguida vou criar bins para o preço das casas considerando 0 as mais baratas, 1 as de preço médio e 2 as mais caras.

In [0]:
houses_part2t1 = houses_part2t0.copy()

In [0]:
houses_part2t1['SalePrice_bin'] = pd.cut(houses_part2t1.SalePrice, bins = 3, labels = ['0','1','2'])

In [32]:
houses_part2t1.head(5)

,YearBuilt,LotFrontage,SalePrice,OverallQual,GarageCars,Target,MasVnrType_encoded,SalePrice_bin
0,2003,65.0,208500,7,2,1,2,0
1,1976,80.0,181500,6,2,1,0,0
2,2001,68.0,223500,7,2,1,2,0
3,1915,60.0,140000,7,3,0,0,0
4,2000,84.0,250000,8,3,1,2,0

In [33]:
train_and_evaluation(houses_part2t1.drop(['Target','SalePrice'], axis=1, inplace=False), houses_part2.Target)

0.8443983402489627

Após esta transformação consegue-se perceber que a taxa de acerto desceu para 84%.
De seguida irei usar esta técnica na mesma variável mas desta vez suavisando os dados agrupando os bins de forma a ter valores mais idênticos na variável.

**Trasnformação 3**

In [0]:
houses_part2t2 = houses_part2t1.copy()

In [0]:
houses_part2t2['SalePrice_smooth'] = houses_part2t2.groupby('SalePrice_bin')['SalePrice'].transform('mean')

In [36]:
houses_part2t2.head(5)

,YearBuilt,LotFrontage,SalePrice,OverallQual,GarageCars,Target,MasVnrType_encoded,SalePrice_bin,SalePrice_smooth
0,2003,65.0,208500,7,2,1,2,0,160299.998464
1,1976,80.0,181500,6,2,1,0,0,160299.998464
2,2001,68.0,223500,7,2,1,2,0,160299.998464
3,1915,60.0,140000,7,3,0,0,0,160299.998464
4,2000,84.0,250000,8,3,1,2,0,160299.998464

In [37]:
train_and_evaluation(houses_part2t2.drop(['Target','SalePrice','SalePrice_bin'], axis=1, inplace=False), houses_part2.Target)

0.6182572614107884

**Trasnformação 4**

Consegue-se refletir que qualquer alteração na variável SalePrice irá piorar a respectiva previsão.

A variável GarageCars indica-nos o número de veículos que a garaem poderá guardar, irei aplicar a técnica de one-hot encoding na mesma.

In [0]:
houses_part2t3 = houses_part2t2.copy()

In [0]:
houses_part2t3_ohwoq = pd.get_dummies(houses_part2t3.GarageCars,prefix='GC')

In [0]:
houses_part2t3 = pd.concat([houses_part2t3,houses_part2t3_ohwoq], axis=1)

In [41]:
houses_part2t3.head(5)

,YearBuilt,LotFrontage,SalePrice,OverallQual,GarageCars,Target,MasVnrType_encoded,SalePrice_bin,SalePrice_smooth,GC_0,GC_1,GC_2,GC_3,GC_4
0,2003,65.0,208500,7,2,1,2,0,160299.998464,0,0,1,0,0
1,1976,80.0,181500,6,2,1,0,0,160299.998464,0,0,1,0,0
2,2001,68.0,223500,7,2,1,2,0,160299.998464,0,0,1,0,0
3,1915,60.0,140000,7,3,0,0,0,160299.998464,0,0,0,1,0
4,2000,84.0,250000,8,3,1,2,0,160299.998464,0,0,0,1,0

In [43]:
train_and_evaluation(houses_part2t3.drop(['Target','SalePrice','SalePrice_bin','GarageCars'], axis=1, inplace=False), houses_part2.Target)

0.6203319502074689

A transformação realizada teve impacto na taxa de previsão do modelo, dado isso vamos aplicar a mesma técnica mas desta vez na variável MasVnrType onde inicialmente tinha aplicado a técnica de Ordinal enconding.

**Transformação 5**

In [0]:
houses_part2t4 = houses_part2t3.copy()

In [0]:
houses_part2t4['MasVnrType'] = houses_part2['MasVnrType']

In [0]:
houses_part2t4_ohwoq = pd.get_dummies(houses_part2t4.MasVnrType, prefix='MVT')
houses_part2t4 = pd.concat([houses_part2t4,houses_part2t4_ohwoq], axis=1)

In [47]:
houses_part2t4.head(5)

,YearBuilt,LotFrontage,SalePrice,OverallQual,GarageCars,Target,MasVnrType_encoded,SalePrice_bin,SalePrice_smooth,GC_0,GC_1,GC_2,GC_3,GC_4,MasVnrType,MVT_BrkCmn,MVT_BrkFace,MVT_None,MVT_Stone
0,2003,65.0,208500,7,2,1,2,0,160299.998464,0,0,1,0,0,BrkFace,0,1,0,0
1,1976,80.0,181500,6,2,1,0,0,160299.998464,0,0,1,0,0,None,0,0,1,0
2,2001,68.0,223500,7,2,1,2,0,160299.998464,0,0,1,0,0,BrkFace,0,1,0,0
3,1915,60.0,140000,7,3,0,0,0,160299.998464,0,0,0,1,0,None,0,0,1,0
4,2000,84.0,250000,8,3,1,2,0,160299.998464,0,0,0,1,0,BrkFace,0,1,0,0

In [49]:
train_and_evaluation(houses_part2t4.drop(['Target','SalePrice','SalePrice_bin','GarageCars','MasVnrType','MasVnrType_encoded'], axis=1, inplace=False), houses_part2.Target)

0.6182572614107884

**Transformação 6**

Com esta transformação na variável MasVnrType, a taxa de previsão desceu um pouco.

In [50]:
houses_part2t4.LotFrontage.describe()

count    1460.000000
mean       69.915988
std        22.131200
min        21.000000
25%        60.000000
50%        70.000000
75%        79.250000
max       313.000000
Name: LotFrontage, dtype: float64

Analisando a variável LotFrontage noto que os dados se encontram um pouco dispersos, dado isso irei aplicar a técnica de Smoothing de modo a que essa dispersão diminua.

In [0]:
houses_part2t5 = houses_part2t4.copy()

In [0]:
houses_part2t5["LotFrontage_bins"] = pd.cut(houses_part2t5.LotFrontage, bins=5, labels=['0', '1', '2','3','4'])

In [0]:
houses_part2t5['LotFrontage_smooth'] = houses_part2t5.groupby('LotFrontage_bins')['LotFrontage'].transform('median')

In [54]:
houses_part2t5.head(5)

,YearBuilt,LotFrontage,SalePrice,OverallQual,GarageCars,Target,MasVnrType_encoded,SalePrice_bin,SalePrice_smooth,GC_0,GC_1,GC_2,GC_3,GC_4,MasVnrType,MVT_BrkCmn,MVT_BrkFace,MVT_None,MVT_Stone,LotFrontage_bins,LotFrontage_smooth
0,2003,65.0,208500,7,2,1,2,0,160299.998464,0,0,1,0,0,BrkFace,0,1,0,0,0,64.0
1,1976,80.0,181500,6,2,1,0,0,160299.998464,0,0,1,0,0,None,0,0,1,0,1,88.0
2,2001,68.0,223500,7,2,1,2,0,160299.998464,0,0,1,0,0,BrkFace,0,1,0,0,0,64.0
3,1915,60.0,140000,7,3,0,0,0,160299.998464,0,0,0,1,0,None,0,0,1,0,0,64.0
4,2000,84.0,250000,8,3,1,2,0,160299.998464,0,0,0,1,0,BrkFace,0,1,0,0,1,88.0

In [56]:
train_and_evaluation(houses_part2t5.drop(['Target','SalePrice','SalePrice_bin','GarageCars','MasVnrType','MasVnrType_encoded','LotFrontage','LotFrontage_bins'], axis=1, inplace=False), houses_part2.Target)

0.5975103734439834

O modelo continuou a perder precisão com as transformações aplicadas.